:root {
  font-size: 18px;
}

body {
  margin: 0;
  background-color: rgb(44, 44, 44);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.logo {
  width: 300px;
  max-width: 40vw;
}

.rotate {
  animation: rotate-logo 10s linear infinite;
}

@keyframes rotate-logo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
